[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
streamlit = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
openai = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
app = "streamlit run app.py"